*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1;
}

.container {
    display:grid;
    place-items:center;
    gap:5em;
    min-height: 100vh;
    max-width: 1400px;
    margin-inline:auto;
    padding-inline:2em;
    padding-block:5em;
}

header {
    display: grid;
    justify-items: center;
    gap:.8em;
    text-align: center;

    .header-title {
        font-weight: 600;
        font-size: clamp(1.8rem,5vw,2.3rem);
        color:hsl(234, 12%, 34%);
    }

    .header-subtitle {
        font-weight: 400;
        font-size: clamp(1.3rem,3vw,1.8rem);
        color:hsl(226, 7%, 45%);
    }

    .description {
        max-width: 350px;
        color:#666565;
    }
}

.features-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "top-middle "
    "left"
    " right "
    "bottom-middle"
    ;
    gap:2em;
    
    .card {
        display: grid;
        gap:5em;
        padding:2.5em;
        max-width: 400px;
        border-radius:5px;
        box-shadow: 0px -3px 39px -14px rgba(0,0,0,0.3);

        &:nth-child(1) {
            border-top: 4px solid hsl(0, 78%, 62%);
            grid-area:top-middle;
        }

        &:nth-child(2) {
            border-top: 4px solid hsl(180, 62%, 55%);
            grid-area: left;
        }

        &:nth-child(3) {
            border-top: 4px solid hsl(212, 86%, 64%); 
            grid-area: right;
            
        }

        &:nth-child(4) {
            border-top: 4px solid hsl(34, 97%, 64%);
            grid-area: bottom-middle;

        }

    .card-text {
        line-height: 1.8;
    }

    .card-title {
        font-size: 1.2rem;
        color:hsl(234, 12%, 34%);
    }

    .card-description {
        color:#666565;
    }

    .card-icon {
        justify-self: end;
    }
    }
}

@media (min-width:768px) {
.features-cards {
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    " top-middle bottom-middle  "
    "  right left"
    ;
}
}

@media (min-width:1000px) {
 .features-cards {
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    " . top-middle . "
    " left bottom-middle right "
    ;
  
    .card {
        &:nth-child(1) {
            position: relative;
        }

        &:nth-child(2) {
    position: relative;
    top:-50%;
        }

        &:nth-child(3) {

        position: relative;
         top:-50%;
        }
    }
    
}
}

